<%= form_for(@publication) do |f| %>
<% if @publication.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

  <ul>
    <% @publication.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :title, "Nombre" %><br>
    <%= f.text_field :title, :class => 'form-control', :placeholder => "Ingresa un título" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :photo, "Foto" %><br>
    <%= f.text_field :photo, :class => 'form-control', :placeholder => "Ingresa una imagen" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :address, "Dirección" %><br>
    <%= f.text_field :address, :class => 'form-control', :placeholder => "Ingresa una dirección" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :telephone, "Teléfono" %><br>
    <%= f.telephone_field :telephone, :class => 'form-control', :placeholder => "Ingresa un teléfono" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description, :class => 'form-control', :placeholder => "Ingresa una descripción", :rows => "6", :cols => "30" %>
  </div>
</div>

<div class="actions">
  <%= f.submit "Crear", :class => "btn btn-primary" %>
</div>
<% end %>
