<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@publication.photo) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @publication.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @publication.telephone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
